body{
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#8DB600;
    padding: 15px 25px;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.5);
}

.brand-container{
    display: flex;
}
img{
    width: 100px;
    height: 100%;
    border-radius: 100px;
    margin-right: 10px;
}

.brand-title{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}  
.links-container{
    display: flex;
    align-items: center;
    float: right;
    top:15px;
}

.link{
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 15px;
    transition: 0.2s;
}
.link:hover{
    color:#ACE1AF;
    
}
.btn-link{
    background-color: #ACE1AF;
    padding: 10px 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    border-radius: 30px;
    color: white;
    transition: 0.2s;
}

.btn-link:hover{
    padding: 10px 30px;
}

.container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
